<!DOCTYPE html>
<html lang='{{ shop.locale }}'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

    {%- if canonical_url != blank  -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

     <script>
      var passlist = [
        'account', // account-related routes (login, register, manage)
        'challenge', // Shopify's integrated google recaptcha
        'tools/recurring' // recharge-related routes
      ]
      
      var loc = window.location
      var bypass = passlist.some(function(str) {
        return loc.pathname.indexOf(str) > -1
      })
      
      if (!bypass) {
        loc.host = 'YOUR_STOREFRONT_DOMAIN_NO_PROTOCOL'
      }
    </script>
    
    {{content_for_header}}
  </head>
  <body>
    {{content_for_layout}}
  </body>
</html>